@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		--primary: 255 0% 99%;
		--secondary: 255 0% 96%;
		--tertiary: 255 0% 94%;
		--accent: 255 0% 90%;
		--popover: 255 0% 99%;
		--input: 255 0% 98%;
		--border: 255 0% 90%;
		--border-hover: 255 0% 85%;
		--foreground: 0 0% 0%;
		--muted: 0 0% 40%;
		--colored: 215 72% 57%;
	}

	.dark {
		--primary: 240 10% 5%;
		--secondary: 240 10% 8%;
		--tertiary: 240 10% 10%;
		--accent: 240 10% 12%;
		--popover: 240 10% 8%;
		--input: 240 10% 8%;
		--border: 240 10% 12%;
		--border-hover: 240 10% 15%;

		--foreground: 0 0% 100%;
		--muted: 0 0% 60%;
		--colored: 215 72% 57%;
	}
}

@theme inline {
	--color-primary: hsl(var(--primary));
	--color-secondary: hsl(var(--secondary));
	--color-tertiary: hsl(var(--tertiary));
	--color-accent: hsl(var(--accent));
	--color-popover: hsl(var(--popover));
	--color-input: hsl(var(--input));
	--color-border: hsl(var(--border));
	--color-foreground: hsl(var(--foreground));
	--color-muted: hsl(var(--muted));
	--color-colored: hsl(var(--colored));
	--color-border-hover: hsl(var(--border-hover));
	--animate-slow-spin: spin 10s linear infinite;
	--animate-mid-spin: spin 6s linear infinite;
	--animate-spin-2: spin 2s linear infinite
}

@layer components {
	* {
		@apply box-border border-border;
	}

	body {
		font-family: var(--font-albert-sans);
		@apply text-foreground bg-primary;
	}
}

@keyframes react-loading-skeleton {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.shimmer {
	--base-color: transparent;
	--highlight-color: var(--color-border);
	--animation-direction: normal;
	--animation-duration: 1s;
	--pseudo-element-display: block;

	position: relative;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
}

.shimmer::before {
	content: '';
	display: var(--pseudo-element-display, block);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-image: var(--custom-highlight-background,
			linear-gradient(90deg,
				var(--base-color, #eee) 0%,
				var(--highlight-color, #f5f5f5) 50%,
				var(--base-color, #eee) 100%));
	transform: translateX(-100%);
	animation-name: react-loading-skeleton;
	animation-direction: var(--animation-direction, normal);
	animation-duration: var(--animation-duration, 1.5s);
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	filter: blur(2px);
}